# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.AllocentricVR.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Unity\unity\AllocentricVR\.idea\.idea.AllocentricVR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
